<!-- app.component.html -->
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">

      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name">Tarea 02</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 200px" mode="push">
          <img src="assets/mitocode.png" width="218" style="margin-left:20 px">
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/persona" style="cursor:pointer">
              <mat-icon>accessibility</mat-icon>
              <span>Persona</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/producto" style="cursor:pointer">
            <mat-icon>accessibility</mat-icon>
            <span>producto</span>
        </button>
      </mat-sidenav>

      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>

</div>